.layout-container {
    display: flex;
    padding: 40px 0;
}

.layout-refinements {
    min-width: 280px;
    border-right: 1px solid #e5e7eb;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.layout-hits {
    flex-grow: 1;
}