.hits-list-container {
    padding: 0 40px;
    flex-grow: 1;
}

.hits-list-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hits-stats {
    font-size: 0.85rem;
    font-weight: bold;
}

.hits-list-sort-select {
    border: 1px solid #e5e7eb;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    height: 36px;
}

.hits-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.hits-pagination-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: .4rem;
    margin-top: 40px;
    flex-wrap: wrap;
}

.hits-pagination-link {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    color: #4b5563;
}

.hits-pagination-link:hover {
    color: #747bff;
}

.hits-pagination-selected a {
    border: 1px solid #4b5563;
}

.hits-list-filters-button {
    display: none;
    align-items: center;
    gap: 6px;
    height: 40px;
}

@media (max-width: 1000px) {
    .hits-stats {
        display: none;
    }
    .hits-list-filters-button {
        display: flex;
    }
    .hits-list-sort-select {
        height: 40px;
    }
}

@media (max-width: 700px) {
    .hits-list-container {
        padding: 0 20px;
    }
}