.search-box-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 240px;
    background: #3892b5;
    background: linear-gradient(90deg,rgba(56, 146, 181, 1) 0%, rgba(100, 87, 199, 1) 50%, rgba(196, 83, 237, 1) 100%);
}

.search-box-header-title {
    font-size: 2rem;
    line-height: 1.1;
    margin: 0 0 20px 0;
    color: #fff;
}