.layout-container {
    display: flex;
    padding: 40px 0;
    max-width: 1200px;
    margin: 0 auto;
}

.layout-refinements {
    min-width: 280px;
    border-right: 1px solid #e5e7eb;
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transform: translateX(0);
    opacity: 100%;
    position: relative;
}

.layout-refinements-header {
    font-size: 1.2rem;
    margin: 0 0 20px 0;
}

.layout-menus {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
    overflow-y: auto;
}

.layout-hits {
    flex-grow: 1;
}

.layout-refinements-mobile-close-btn {
    display: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


@media (max-width: 1000px) {
    .layout-refinements {
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 40px;
        transition: all .2s;
        transform: translateX(-100%);
        opacity: 0;
        min-width: 85%;
        z-index: 1;
        max-height: 100%;
    }
    .layout-refinements-mobile-open {
        transform: translateX(0);
        opacity: 100%;
        box-shadow: 0 0 0 999999px rgba(0, 0, 0, .4);
    }
    .layout-refinements-mobile-close-btn {
        display: flex;
    }
}


@media (max-width: 700px) {
    .layout-container {
        padding: 20px 0;
    }
}